.top-0 { top: 0 }
.top-0-25 { top: 0.25rem }
.top-0-3 { top: 0.3rem }
.top-0-4 { top: 0.4rem }
.top-0-5 { top: 0.5rem }
.top-0-6 { top: 0.6rem }
.top-0-7 { top: 0.7rem }
.top-0-75 { top: 0.75rem }
.top-1 { top: 1rem }
.top-1-5 { top: 1.5rem }
.top-2 { top: 2rem }
.top-2-5 { top: 2.5rem }
.top-3 { top: 3rem }
.top-4 { top: 4rem }
.top-5 { top: 5rem }
.top-6 { top: 6rem }
.top-7 { top: 7rem }
.top-8 { top: 8rem }
.top-9 { top: 9rem }
.top-10 { top: 10rem }
.top-11 { top: 11rem }
.top-12 { top: 12rem }

.bottom-0 { bottom: 0 }
.bottom-0-25 { bottom: 0.25rem }
.bottom-0-3 { bottom: 0.3rem }
.bottom-0-4 { bottom: 0.4rem }
.bottom-0-5 { bottom: 0.5rem }
.bottom-0-6 { bottom: 0.6rem }
.bottom-0-7 { bottom: 0.7rem }
.bottom-0-75 { bottom: 0.75rem }
.bottom-1 { bottom: 1rem }
.bottom-1-5 { bottom: 1.5rem }
.bottom-2 { bottom: 2rem }
.bottom-2-5 { bottom: 2.5rem }
.bottom-3 { bottom: 3rem }
.bottom-3-5 { bottom: 3.5rem }
.bottom-3-8 { bottom: 3.8rem }
.bottom-4 { bottom: 4rem }
.bottom-5 { bottom: 5rem }
.bottom-6 { bottom: 6rem }
.bottom-7 { bottom: 7rem }
.bottom-8 { bottom: 8rem }
.bottom-9 { bottom: 9rem }
.bottom-10 { bottom: 10rem }
.bottom-11 { bottom: 11rem }
.bottom-12 { bottom: 12rem }

.left-0 { left: 0 }
.left-0-25 { left: 0.25rem }
.left-0-3 { left: 0.3rem }
.left-0-4 { left: 0.4rem }
.left-0-5 { left: 0.5rem }
.left-0-6 { left: 0.6rem }
.left-0-7 { left: 0.7rem }
.left-0-75 { left: 0.75rem }
.left-1 { left: 1rem }
.left-1-5 { left: 1.5rem }
.left-2 { left: 2rem }
.left-2-5 { left: 2.5rem }
.left-3 { left: 3rem }
.left-4 { left: 4rem }
.left-5 { left: 5rem }
.left-6 { left: 6rem }
.left-7 { left: 7rem }
.left-8 { left: 8rem }
.left-9 { left: 9rem }
.left-10 { left: 10rem }
.left-11 { left: 11rem }
.left-12 { left: 12rem }

.right-0 { right: 0 }
.right-0-25 { right: 0.25rem }
.right-0-3 { right: 0.3rem }
.right-0-4 { right: 0.4rem }
.right-0-5 { right: 0.5rem }
.right-0-6 { right: 0.6rem }
.right-0-7 { right: 0.7rem }
.right-0-75 { right: 0.75rem }
.right-1 { right: 1rem }
.right-1-5 { right: 1.5rem }
.right-2 { right: 2rem }
.right-2-5 { right: 2.5rem }
.right-3 { right: 3rem }
.right-4 { right: 4rem }
.right-5 { right: 5rem }
.right-6 { right: 6rem }
.right-7 { right: 7rem }
.right-8 { right: 8rem }
.right-9 { right: 9rem }
.right-10 { right: 10rem }
.right-11 { right: 11rem }
.right-12 { right: 12rem }

.floating-x-center { left: 50%; transform: translateX(-50%); width: 100% }
.floating-y-center { top: 50%; transform: translateY(-50%); height: 100% }
.floating-center { top: 50%; left: 50%; transform: translate(-50%, -50%) }

.absolute{ position: absolute; }
.fixed{ position: fixed; }
.relative{ position: relative; }
.sticky{ position: sticky; }