.margin-0 { margin: 0 }
.margin-0-25 { margin: 0.25rem }
.margin-0-3 { margin: 0.3rem }
.margin-0-4 { margin: 0.4rem }
.margin-0-5 { margin: 0.5rem }
.margin-0-6 { margin: 0.6rem }
.margin-0-7 { margin: 0.7rem }
.margin-0-75 { margin: 0.75rem }
.margin-1 { margin: 1rem }
.margin-1-5 { margin: 1.5rem }
.margin-2 { margin: 2rem }
.margin-2-5 { margin: 2.5rem }
.margin-3 { margin: 3rem }
.margin-4 { margin: 4rem }
.margin-5 { margin: 5rem }
.margin-6 { margin: 6rem }
.margin-7 { margin: 7rem }
.margin-8 { margin: 8rem }
.margin-9 { margin: 9rem }
.margin-10 { margin: 10rem }
.margin-11 { margin: 11rem }
.margin-12 { margin: 12rem }
.margin-auto { margin: auto }

.margin-height-0-25 { margin: 0.25rem 0 }
.margin-height-0-3 { margin: 0.3rem 0 }
.margin-height-0-4 { margin: 0.4rem 0 }
.margin-height-0-5 { margin: 0.5rem 0 }
.margin-height-0-6 { margin: 0.6rem 0 }
.margin-height-0-7 { margin: 0.7rem 0 }
.margin-height-0-75 { margin: 0.75rem 0 }
.margin-height-1 { margin: 1rem 0 }
.margin-height-1-5 { margin: 1.5rem 0 }
.margin-height-2 { margin: 2rem 0 }
.margin-height-2-5 { margin: 2.5rem 0 }
.margin-height-3 { margin: 3rem 0 }
.margin-height-4 { margin: 4rem 0 }
.margin-height-5 { margin: 5rem 0 }
.margin-height-6 { margin: 6rem 0 }
.margin-height-7 { margin: 7rem 0 }
.margin-height-8 { margin: 8rem 0 }
.margin-height-9 { margin: 9rem 0 }
.margin-height-10 { margin: 10rem 0 }
.margin-height-11 { margin: 11rem 0 }
.margin-height-12 { margin: 12rem 0 }
.margin-height-auto { margin: auto }

.margin-width-0-25 { margin: 0 0.25rem }
.margin-width-0-3 { margin: 0 0.3rem }
.margin-width-0-4 { margin: 0 0.4rem }
.margin-width-0-5 { margin: 0 0.5rem }
.margin-width-0-6 { margin: 0 0.6rem }
.margin-width-0-7 { margin: 0 0.7rem }
.margin-width-0-75 { margin: 0 0.75rem }
.margin-width-1 { margin: 0 1rem }
.margin-width-1-5 { margin: 0 1.5rem }
.margin-width-2 { margin: 0 2rem }
.margin-width-2-5 { margin: 0 2.5rem }
.margin-width-3 { margin: 0 3rem }
.margin-width-4 { margin: 0 4rem }
.margin-width-5 { margin: 0 5rem }
.margin-width-6 { margin: 0 6rem }
.margin-width-7 { margin: 0 7rem }
.margin-width-8 { margin: 0 8rem }
.margin-width-9 { margin: 0 9rem }
.margin-width-10 { margin: 0 10rem }
.margin-width-11 { margin: 0 11rem }
.margin-width-12 { margin: 0 12rem }
.margin-width-auto { margin: 0 auto }

.margin-left-0-25 { margin-left: 0.25rem }
.margin-left-0-3 { margin-left: 0.3rem }
.margin-left-0-4 { margin-left: 0.4rem }
.margin-left-0-5 { margin-left: 0.5rem }
.margin-left-0-6 { margin-left: 0.6rem }
.margin-left-0-7 { margin-left: 0.7rem }
.margin-left-0-75 { margin-left: 0.75rem }
.margin-left-1 { margin-left: 1rem }
.margin-left-1-5 { margin-left: 1.5rem }
.margin-left-2 { margin-left: 2rem }
.margin-left-2-5 { margin-left: 2.5rem }
.margin-left-3 { margin-left: 3rem }
.margin-left-4 { margin-left: 4rem }
.margin-left-5 { margin-left: 5rem }
.margin-left-6 { margin-left: 6rem }
.margin-left-7 { margin-left: 7rem }
.margin-left-8 { margin-left: 8rem }
.margin-left-9 { margin-left: 9rem }
.margin-left-10 { margin-left: 10rem }
.margin-left-11 { margin-left: 11rem }
.margin-left-12 { margin-left: 12rem }
.margin-left-auto { margin-left: auto }

.margin-right-0-25 { margin-right: 0.25rem }
.margin-right-0-3 { margin-right: 0.3rem }
.margin-right-0-4 { margin-right: 0.4rem }
.margin-right-0-5 { margin-right: 0.5rem }
.margin-right-0-6 { margin-right: 0.6rem }
.margin-right-0-7 { margin-right: 0.7rem }
.margin-right-0-75 { margin-right: 0.75rem }
.margin-right-1 { margin-right: 1rem }
.margin-right-1-5 { margin-right: 1.5rem }
.margin-right-2 { margin-right: 2rem }
.margin-right-2-5 { margin-right: 2.5rem }
.margin-right-3 { margin-right: 3rem }
.margin-right-4 { margin-right: 4rem }
.margin-right-5 { margin-right: 5rem }
.margin-right-6 { margin-right: 6rem }
.margin-right-7 { margin-right: 7rem }
.margin-right-8 { margin-right: 8rem }
.margin-right-9 { margin-right: 9rem }
.margin-right-10 { margin-right: 10rem }
.margin-right-11 { margin-right: 11rem }
.margin-right-12 { margin-right: 12rem }
.margin-right-auto { margin-right: auto }



.margin-top--0-25 { margin-top: -0.25rem }
.margin-top--0-3 { margin-top: -0.3rem }
.margin-top--0-4 { margin-top: -0.4rem }
.margin-top--0-5 { margin-top: -0.5rem }
.margin-top--0-6 { margin-top: -0.6rem }
.margin-top--0-7 { margin-top: -0.7rem }
.margin-top--0-75 { margin-top: -0.75rem }
.margin-top--0-8 { margin-top: -0.8rem }
.margin-top--0-9 { margin-top: -0.9rem }
.margin-top--1 { margin-top: -1rem }
.margin-top--1-4 { margin-top: -1.4rem }
.margin-top--1-5 { margin-top: -1.5rem }
.margin-top--2 { margin-top: -2rem }
.margin-top--2-5 { margin-top: -2.5rem }
.margin-top--3 { margin-top: -3rem }
.margin-top--4 { margin-top: -4rem }
.margin-top--5 { margin-top: -5rem }
.margin-top--6 { margin-top: -6rem }
.margin-top--7 { margin-top: -7rem }
.margin-top--8 { margin-top: -8rem }
.margin-top--9 { margin-top: -9rem }
.margin-top--10 { margin-top: -10rem }

.margin-top-0-25 { margin-top: 0.25rem }
.margin-top-0-3 { margin-top: 0.3rem }
.margin-top-0-4 { margin-top: 0.4rem }
.margin-top-0-5 { margin-top: 0.5rem }
.margin-top-0-6 { margin-top: 0.6rem }
.margin-top-0-7 { margin-top: 0.7rem }
.margin-top-0-75 { margin-top: 0.75rem }
.margin-top-1 { margin-top: 1rem }
.margin-top-1-5 { margin-top: 1.5rem }
.margin-top-2 { margin-top: 2rem }
.margin-top-2-5 { margin-top: 2.5rem }
.margin-top-3 { margin-top: 3rem }
.margin-top-4 { margin-top: 4rem }
.margin-top-5 { margin-top: 5rem }
.margin-top-6 { margin-top: 6rem }
.margin-top-7 { margin-top: 7rem }
.margin-top-8 { margin-top: 8rem }
.margin-top-9 { margin-top: 9rem }
.margin-top-10 { margin-top: 10rem }
.margin-top-11 { margin-top: 11rem }
.margin-top-12 { margin-top: 12rem }
.margin-top-auto { margin-top: auto }

.margin-bottom-0-25 { margin-bottom: 0.25rem }
.margin-bottom-0-3 { margin-bottom: 0.3rem }
.margin-bottom-0-4 { margin-bottom: 0.4rem }
.margin-bottom-0-5 { margin-bottom: 0.5rem }
.margin-bottom-0-6 { margin-bottom: 0.6rem }
.margin-bottom-0-7 { margin-bottom: 0.7rem }
.margin-bottom-0-75 { margin-bottom: 0.75rem }
.margin-bottom-1 { margin-bottom: 1rem }
.margin-bottom-1-5 { margin-bottom: 1.5rem }
.margin-bottom-2 { margin-bottom: 2rem }
.margin-bottom-2-5 { margin-bottom: 2.5rem }
.margin-bottom-3 { margin-bottom: 3rem }
.margin-bottom-3-25 { margin-bottom: 3.25rem }
.margin-bottom-4 { margin-bottom: 4rem }
.margin-bottom-5 { margin-bottom: 5rem }
.margin-bottom-6 { margin-bottom: 6rem }
.margin-bottom-7 { margin-bottom: 7rem }
.margin-bottom-8 { margin-bottom: 8rem }
.margin-bottom-9 { margin-bottom: 9rem }
.margin-bottom-10 { margin-bottom: 10rem }
.margin-bottom-11 { margin-bottom: 11rem }
.margin-bottom-12 { margin-bottom: 12rem }
.margin-bottom-auto { margin-bottom: auto }

.padding-0-25 { padding: 0.25rem }
.padding-0-3 { padding: 0.3rem }
.padding-0-4 { padding: 0.4rem }
.padding-0-5 { padding: 0.5rem }
.padding-0-6 { padding: 0.6rem }
.padding-0-7 { padding: 0.7rem }
.padding-0-75 { padding: 0.75rem }
.padding-1 { padding: 1rem }
.padding-1-5 { padding: 1.5rem }
.padding-2 { padding: 2rem }
.padding-2-5 { padding: 2.5rem }
.padding-3 { padding: 3rem }
.padding-4 { padding: 4rem }
.padding-5 { padding: 5rem }
.padding-6 { padding: 6rem }
.padding-7 { padding: 7rem }
.padding-8 { padding: 8rem }
.padding-9 { padding: 9rem }
.padding-10 { padding: 10rem }
.padding-11 { padding: 11rem }
.padding-12 { padding: 12rem }

.padding-height-0-25 { padding: 0.25rem 0 }
.padding-height-0-3 { padding: 0.3rem 0 }
.padding-height-0-4 { padding: 0.4rem 0 }
.padding-height-0-5 { padding: 0.5rem 0 }
.padding-height-0-6 { padding: 0.6rem 0 }
.padding-height-0-7 { padding: 0.7rem 0 }
.padding-height-0-75 { padding: 0.75rem 0 }
.padding-height-1 { padding: 1rem 0 }
.padding-height-1-5 { padding: 1.5rem 0 }
.padding-height-2 { padding: 2rem 0 }
.padding-height-2-5 { padding: 2.5rem 0 }
.padding-height-3 { padding: 3rem 0 }
.padding-height-4 { padding: 4rem 0 }
.padding-height-5 { padding: 5rem 0 }
.padding-height-6 { padding: 6rem 0 }
.padding-height-7 { padding: 7rem 0 }
.padding-height-8 { padding: 8rem 0 }
.padding-height-9 { padding: 9rem 0 }
.padding-height-10 { padding: 10rem 0 }
.padding-height-11 { padding: 11rem 0 }
.padding-height-12 { padding: 12rem 0 }

.padding-width-0-25 { padding: 0 0.25rem }
.padding-width-0-3 { padding: 0 0.3rem }
.padding-width-0-4 { padding: 0 0.4rem }
.padding-width-0-5 { padding: 0 0.5rem }
.padding-width-0-6 { padding: 0 0.6rem }
.padding-width-0-7 { padding: 0 0.7rem }
.padding-width-0-75 { padding: 0 0.75rem }
.padding-width-1 { padding: 0 1rem }
.padding-width-1-5 { padding: 0 1.5rem }
.padding-width-2 { padding: 0 2rem }
.padding-width-2-5 { padding: 0 2.5rem }
.padding-width-3 { padding: 0 3rem }
.padding-width-4 { padding: 0 4rem }
.padding-width-5 { padding: 0 5rem }
.padding-width-6 { padding: 0 6rem }
.padding-width-7 { padding: 0 7rem }
.padding-width-8 { padding: 0 8rem }
.padding-width-9 { padding: 0 9rem }
.padding-width-10 { padding: 0 10rem }
.padding-width-11 { padding: 0 11rem }
.padding-width-12 { padding: 0 12rem }

.padding-left-0-25 { padding-left: 0.25rem }
.padding-left-0-3 { padding-left: 0.3rem }
.padding-left-0-4 { padding-left: 0.4rem }
.padding-left-0-5 { padding-left: 0.5rem }
.padding-left-0-6 { padding-left: 0.6rem }
.padding-left-0-7 { padding-left: 0.7rem }
.padding-left-0-75 { padding-left: 0.75rem }
.padding-left-1 { padding-left: 1rem }
.padding-left-1-5 { padding-left: 1.5rem }
.padding-left-2 { padding-left: 2rem }
.padding-left-2-5 { padding-left: 2.5rem }
.padding-left-3 { padding-left: 3rem }
.padding-left-4 { padding-left: 4rem }
.padding-left-5 { padding-left: 5rem }
.padding-left-6 { padding-left: 6rem }
.padding-left-7 { padding-left: 7rem }
.padding-left-8 { padding-left: 8rem }
.padding-left-9 { padding-left: 9rem }
.padding-left-10 { padding-left: 10rem }
.padding-left-11 { padding-left: 11rem }
.padding-left-12 { padding-left: 12rem }

.padding-right-0-25 { padding-right: 0.25rem }
.padding-right-0-3 { padding-right: 0.3rem }
.padding-right-0-4 { padding-right: 0.4rem }
.padding-right-0-5 { padding-right: 0.5rem }
.padding-right-0-6 { padding-right: 0.6rem }
.padding-right-0-7 { padding-right: 0.7rem }
.padding-right-0-75 { padding-right: 0.75rem }
.padding-right-1 { padding-right: 1rem }
.padding-right-1-5 { padding-right: 1.5rem }
.padding-right-2 { padding-right: 2rem }
.padding-right-2-5 { padding-right: 2.5rem }
.padding-right-3 { padding-right: 3rem }
.padding-right-4 { padding-right: 4rem }
.padding-right-5 { padding-right: 5rem }
.padding-right-6 { padding-right: 6rem }
.padding-right-7 { padding-right: 7rem }
.padding-right-8 { padding-right: 8rem }
.padding-right-9 { padding-right: 9rem }
.padding-right-10 { padding-right: 10rem }
.padding-right-11 { padding-right: 11rem }
.padding-right-12 { padding-right: 12rem }

.padding-top-0-25 { padding-top: 0.25rem }
.padding-top-0-3 { padding-top: 0.3rem }
.padding-top-0-4 { padding-top: 0.4rem }
.padding-top-0-5 { padding-top: 0.5rem }
.padding-top-0-6 { padding-top: 0.6rem }
.padding-top-0-7 { padding-top: 0.7rem }
.padding-top-0-75 { padding-top: 0.75rem }
.padding-top-1 { padding-top: 1rem }
.padding-top-1-5 { padding-top: 1.5rem }
.padding-top-2 { padding-top: 2rem }
.padding-top-2-5 { padding-top: 2.5rem }
.padding-top-3 { padding-top: 3rem }
.padding-top-4 { padding-top: 4rem }
.padding-top-5 { padding-top: 5rem }
.padding-top-6 { padding-top: 6rem }
.padding-top-7 { padding-top: 7rem }
.padding-top-8 { padding-top: 8rem }
.padding-top-9 { padding-top: 9rem }
.padding-top-10 { padding-top: 10rem }
.padding-top-11 { padding-top: 11rem }
.padding-top-12 { padding-top: 12rem }

.padding-bottom-0-25 { padding-bottom: 0.25rem }
.padding-bottom-0-3 { padding-bottom: 0.3rem }
.padding-bottom-0-4 { padding-bottom: 0.4rem }
.padding-bottom-0-5 { padding-bottom: 0.5rem }
.padding-bottom-0-6 { padding-bottom: 0.6rem }
.padding-bottom-0-7 { padding-bottom: 0.7rem }
.padding-bottom-0-75 { padding-bottom: 0.75rem }
.padding-bottom-1 { padding-bottom: 1rem }
.padding-bottom-1-5 { padding-bottom: 1.5rem }
.padding-bottom-2 { padding-bottom: 2rem }
.padding-bottom-2-5 { padding-bottom: 2.5rem }
.padding-bottom-3 { padding-bottom: 3rem }
.padding-bottom-4 { padding-bottom: 4rem }
.padding-bottom-5 { padding-bottom: 5rem }
.padding-bottom-6 { padding-bottom: 6rem }
.padding-bottom-7 { padding-bottom: 7rem }
.padding-bottom-8 { padding-bottom: 8rem }
.padding-bottom-9 { padding-bottom: 9rem }
.padding-bottom-10 { padding-bottom: 10rem }
.padding-bottom-11 { padding-bottom: 11rem }
.padding-bottom-12 { padding-bottom: 12rem }

.gap-0-1 { gap: 0.1rem }
.gap-0-2 { gap: 0.2rem }
.gap-0-25 { gap: 0.25rem }
.gap-0-3 { gap: 0.3rem }
.gap-0-4 { gap: 0.4rem }
.gap-0-5 { gap: 0.5rem }
.gap-0-6 { gap: 0.6rem }
.gap-0-7 { gap: 0.7rem }
.gap-0-75 { gap: 0.75rem }
.gap-1 { gap: 1rem }
.gap-1-5 { gap: 1.5rem }
.gap-2 { gap: 2rem }
.gap-2-5 { gap: 2.5rem }
.gap-3 { gap: 3rem }
.gap-4 { gap: 4rem }
.gap-5 { gap: 5rem }
.gap-6 { gap: 6rem }
.gap-7 { gap: 7rem }
.gap-8 { gap: 8rem }
.gap-9 { gap: 9rem }
.gap-10 { gap: 10rem }
.gap-11 { gap: 11rem }
.gap-12 { gap: 12rem }

.border-radius-0-25 { border-radius: 0.25rem; overflow: clip; }
.border-radius-0-3 { border-radius: 0.3rem; overflow: clip; }
.border-radius-0-4 { border-radius: 0.4rem; overflow: clip; }
.border-radius-0-5 { border-radius: 0.5rem; overflow: clip; }
.border-radius-0-6 { border-radius: 0.6rem; overflow: clip; }
.border-radius-0-7 { border-radius: 0.7rem; overflow: clip; }
.border-radius-0-75 { border-radius: 0.75rem; overflow: clip; }
.border-radius-1 { border-radius: 1rem; overflow: clip; }
.border-radius-1-5 { border-radius: 1.5rem; overflow: clip; }
.border-radius-2 { border-radius: 2rem; overflow: clip; }
.border-radius-2-5 { border-radius: 2.5rem; overflow: clip; }
.border-radius-3 { border-radius: 3rem; overflow: clip; }
.border-radius-4 { border-radius: 4rem; overflow: clip; }
.border-radius-5 { border-radius: 5rem; overflow: clip; }
.border-radius-6 { border-radius: 6rem; overflow: clip; }
.border-radius-7 { border-radius: 7rem; overflow: clip; }
.border-radius-8 { border-radius: 8rem; overflow: clip; }
.border-radius-9 { border-radius: 9rem; overflow: clip; }
.border-radius-10 { border-radius: 10rem; overflow: clip; }
.border-radius-11 { border-radius: 11rem; overflow: clip; }
.border-radius-12 { border-radius: 12rem; overflow: clip; }